.button {
    cursor: pointer;

    min-width: 100px;
    padding: 10px;
    width: auto;

    border: 1px solid #0004;
    outline: none;
    background-color: #fafafa;

    border-radius: 5px;
}

.secondary {
    background-color: #505050;
    color: #ffffff;
}
