@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #0d0d0d
}
body {
  height: 100vh;
  background-color:hsla(120,100%,93%,0.4);
  background-image:
          radial-gradient(at 20% 73%, hsla(227,47%,81%,0.27) 0px, transparent 70%),
          radial-gradient(at 70% 23%, hsla(332,47%,81%,0.22) 0px, transparent 70%),
          radial-gradient(at 36% 55%, hsla(291,47%,81%,0.17) 0px, transparent 70%),
          radial-gradient(at 4% 74%, hsla(131,47%,81%,0.18) 0px, transparent 70%),
          radial-gradient(at 52% 85%, hsla(224,47%,81%,0.23) 0px, transparent 70%),
          radial-gradient(at 86% 67%, hsla(272,47%,81%,0.2) 0px, transparent 70%);
}

.secondary {
    font-size: 12px;
    color: #a0a0a0;
}

.alert {
    font-size: 14px;
    color: darkred;
}

.clickable {
    cursor: pointer;
}
